@media (max-width: 1600px) {
  .aboutPanel {
    align-items: flex-start;
  }
  .aboutPanel .aboutCtn {
    display: none;
  }
  .aboutPanel .aboutCtnPhone {
    display: flex;
  }
  .workPanel .workCtn {
    display: none;
  }
  .workPanel .workCtnPhone {
    display: flex;
  }
  .aboutCtn {
    padding: 0 40px !important;
  }
  .projectsCtn {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 1200px) {
  .hero {
    flex-direction: column;
  }
  .heroTxt {
    margin-right: 0;
    margin-bottom: 40px;
    text-align: center;
  }
  .heroTxt:before {
    display: none;
  }
}

@media (max-width: 768px) {
  .contactIllustration, .illustrationContactInfo {
    display: none !important;
  }
  .contactInfo {
    width: 100% !important;
  }
  .hero {
    margin-top: -150px;
  }
  .heroPic {
    width: 200px;
    height: 200px;
  }
  .heroPic .memojiAnim {
    display: none;
  }
  .heroTxt {
    margin-right: 20px;
    margin-left: 20px;
  }
  .heroSocials {
    justify-self: center;
    flex-direction: row;
    bottom: 20%;
    left: auto;
  }
  .heroSocials a {
    margin: 0 20px;
  }
  .aboutCtnPhone h2, .workCtnPhone h2 {
    font-size: 35px !important;
  }
  .aboutCtnPhone p, .workCtnPhone p {
    font-size: 20px !important;
  }
  .aboutCtnPhone a, .workCtnPhone a {
    padding: 15px !important;
  }
}

@media (max-width: 480px) {
  .heroTxt h1 {
    font-size: 30px;
  }
  .heroTxt h3 {
    font-size: 20px;
  }
}

@media (max-width: 315px) {
  .heroPic {
    width: 200px;
    height: 200px;
  }
  .heroTxt h1 {
    font-size: 25px;
  }
  .heroTxt h3 {
    font-size: 20px;
  }
}
