@media (max-width: 1600px) {

    .aboutPanel {
        align-items: flex-start;
    
        .aboutCtn {
            display: none;
        }
    
        .aboutCtnPhone {
            display: flex;
        }
    }

    .workPanel {
    
        .workCtn {
            display: none;
        }
    
        .workCtnPhone {
            display: flex;
        }
    }

    .aboutCtn {
        padding: 0 40px !important;
    }

    .projectsCtn {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 1200px) {
    
    .hero {
        flex-direction: column;
        &Txt {
            &:before {display: none}
            margin-right: 0;
            margin-bottom: 40px;
            text-align: center;
        }
    }

}


@media (max-width: 768px) {

    .contactIllustration, .illustrationContactInfo {
        display: none !important;
    }
    
    .contactInfo {
        width: 100% !important;
    }

    .hero {
        margin-top: -150px;
        &Pic {
            width: 200px;
            height: 200px;
            .memojiAnim {
                display: none;
            }
        }
        &Txt {
            margin-right: 20px;
            margin-left: 20px;
        }
        &Socials {
            justify-self: center;
            flex-direction: row;
            bottom: 20%;
            left: auto;
            & a {margin: 0 20px;}
        }
    }
    
    .aboutCtnPhone, .workCtnPhone {  
        & h2 {font-size: 35px !important;}
        & p {font-size: 20px !important;}
        & a {padding: 15px !important;}
    }

    
}

@media (max-width: 480px) {

    .hero {
        &Txt {
            & h1 {font-size: 30px;}
            & h3 {font-size: 20px;}
        }
    }

}

@media (max-width: 315px) {
    .hero {
        &Pic {
            width: 200px;
            height: 200px;
        }
        &Txt {
            & h1 {font-size: 25px;}
        
            & h3 {font-size: 20px;}
        }
    }
}
