@media (max-width: 1600px) {
  .aboutCtn {
    padding: 0 20px !important;
  }
}

@media (max-width: 1200px) {
  .aboutPanel {
    height: 200vh;
  }
  .aboutPanel .aboutCtn {
    height: 95%;
    justify-content: flex-start;
    padding: 20px 40px !important;
    grid-template-columns: 1fr;
  }
  .aboutPanel .aboutCtn .cv {
    margin-right: 0;
    padding: 10px !important;
  }
  .aboutPanel .aboutCtn .cv .formations .formation {
    margin-right: 20px;
  }
  .hero {
    flex-direction: column;
  }
  .heroTxt {
    margin-right: 0;
    margin-bottom: 40px;
    text-align: center;
  }
  .heroTxt:before {
    display: none;
  }
}

@media (max-width: 768px) {
  .aboutPanel {
    height: 100vh;
  }
  .aboutPanel .aboutCtn {
    align-self: flex-start;
    height: auto;
    padding: 20px !important;
  }
  .aboutPanel .aboutCtn .cv {
    grid-template-columns: repeat 2, 1fr;
    grid-template-areas: 'formation formation' 'softSkills centerOfInterest';
  }
  .aboutPanel .aboutCtn .cv .formations:after {
    display: none;
  }
  .aboutPanel .aboutCtn .cv .formations .dlCv {
    top: 0;
    bottom: auto;
  }
  .aboutPanel .aboutCtn .cv .centerOfInterest {
    margin-top: 0;
  }
  .aboutPanel .aboutCtn .aboutSeeMoreBtn {
    display: block;
  }
  .description, .skills {
    display: none;
  }
  .hero {
    margin-top: -150px;
  }
  .heroPic .memojiAnim {
    display: none;
  }
  .heroTxt {
    margin-right: 20px;
    margin-left: 20px;
  }
  .heroSocials {
    justify-self: center;
    flex-direction: row;
    bottom: 20%;
    left: auto;
  }
  .heroSocials a {
    margin: 0 20px;
  }
}

@media (max-width: 480px) {
  .heroTxt h1 {
    font-size: 30px;
  }
  .heroTxt h3 {
    font-size: 20px;
  }
}

@media (max-width: 315px) {
  .heroPic {
    width: 200px;
    height: 200px;
  }
  .heroTxt h1 {
    font-size: 25px;
  }
  .heroTxt h3 {
    font-size: 20px;
  }
}

@media (max-height: 820px) {
  .cv {
    height: 150vh;
  }
  .skills {
    display: none;
  }
}

@media (max-width: 768px) and (max-height: 640px) {
  .cv {
    height: 100vh !important;
  }
  .formationTwo {
    display: none;
  }
  .heroPic {
    width: 200px;
    height: 200px;
  }
  .heroTxt h1 {
    font-size: 25px;
  }
  .heroTxt h3 {
    font-size: 20px;
  }
}

@media (max-width: 768px) and (max-height: 887px) {
  .cv {
    height: 100vh !important;
  }
  .softSkills, .centerOfInterest {
    display: none;
  }
}

@media (max-width: 500px) {
  .dlCv {
    display: none;
  }
}
