@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: #161616;
    overflow: auto !important;
}

.container {
    grid-template-areas: 
        "header header"
        "cv skills"
        "returnHome returnHome"
        "footer footer"
    ;
    
    text-align: start;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    
    .header {
        position: relative;
        @include flexCenter;
        grid-area: header;
        margin-bottom: 20px;
        height: 100px;
        width: 100%;
        background: #272727;
        &ReturnHome {
            position: absolute;
            left: 20px;
            bottom: 32px;
            transform: rotate(180deg);
        }
    }

    .cv {
        margin: 40px;
        grid-area: cv; 
        margin-right: 75px;
        display: grid;
        grid-gap: 40px;
        grid-template-areas:
            "description description"
            "formation softSkills"
            "formation centerOfInterest"
        ;

        .description {
            grid-area: description;
            position: relative;
            margin-bottom: 50px;

            &:before {
                position: absolute;
                left: 0;
                top: 10px;
                content: '';
                display: block;
                height: 95%;
                width: 4px;
                background: white;
            }

            & h2 {
                margin-left: 20px;
                font-size: 30px;
                margin-bottom: 10px;
            }

            & p {
                margin-left: 20px;
                font-size: 16px;
                letter-spacing: .5px;
                line-height: 30px;
            }
        }

        .formations {
            position: relative;
            grid-area: formation;

            &:after {
                position: absolute;
                right: 0;
                top: 0;
                content: '';
                display: block;
                height: 100%;
                width: 4px;
                background: white;
            }

            .dlCv {
                position: absolute;
                right: 30px;
                bottom: 0;
                padding: 10px;
                border-radius: 2px;
                font-size: 14px;
            }

            .formation {
                margin: 75px 0;

                &One {
                    margin-top: 40px;
                }

                .date {
                    color: #7E7E7E;
                    font-size: 13px;
                }

                .title {
                    font-size: 17px;
                    font-weight: bold;
                    margin-bottom: 4px;
                }

                .diploma {
                    font-size: 14px;
                }

                .techStack {
                    display: flex;
                    margin-top: 10px;

                    & p {
                        position: relative;
                        display: block;
                        font-size: 12px;
                        background: #272727;
                        padding: 4px;
                        margin-right: 6px;

                        &:before {
                            z-index: -1;
                            position: absolute;
                            left: -2px;
                            bottom: -2px;
                            content: '';
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

        }

        .softSkills {
            grid-area: softSkills;

            & h2 {
                margin-bottom: 20px;
            }

            & div {
                margin-bottom: 10px;
                @include flexCenter;
                justify-content: flex-start;

                & img {
                    margin-right: 5px;
                }
            }
        }

        .centerOfInterest {
            grid-area: centerOfInterest;
            margin-top: -100px;

            & h2 {
                margin-bottom: 20px;
            }

            & div {
                margin-bottom: 10px;
                @include flexCenter;
                justify-content: flex-start;

                & img {
                    margin-right: 5px;
                }
            }
        }
    }

    .skills {
        margin: 40px;
        grid-area: skills;
        & h2 {
            margin-bottom: 20px;
        }

        & ul {
            & li {
                list-style-type: none;
                background: #272727;
                padding: 10px;
                margin-bottom: 5px;
                font-size: 16px;
            }
        }

        .plusIconCtn {
            margin: 40px 0 20px 0;
            @include flexCenter;
            width: 35px;
            height: 35px;
            border: 5px white solid;
            border-radius: 50%;
        }
    }

    .buttons {
        justify-self: center;
        grid-area: returnHome;
        margin: 40px auto;
    }

    .seeProjects {
        margin-right: 10px;
    }

    .footer {
        margin-top: 40px;
        grid-area: footer;
        height: 100px;
        background: #272727;
        @include flexCenter;
        justify-content: space-around;
        align-items: center;
    }
}

.wordpress:before {background: #457E9B;}
.html:before {background: #F16524;}
.css:before {background: #50AEC7;}
.sass:before {background: #C75093;}
.php:before {background: #777BB3;}
.javascript:before {background: #E2CA53;}
.nodejs:before {background: #539E43;}
.reactjs:before {background: #53DDE2;}


.htmlTxt {color: #F16524;}
.cssTxt {color: #50AEC7;}
.sassTxt {color: #C75093;}
.javascriptTxt {color: #E2CA53;}
.nodejsTxt {color: #539E43;}
.reactjsTxt {color: #53DDE2;}
.sqlTxt {color: #3299DB;}
.nosqlTxt {color: #69B23F;}
.gitTxt {color: #E44D31;}
.npmTxt {color: #B32F32;}
.xdTxt {color: #F975FD;}
.photoshopTxt {color: #2F9FF2;}
.illustratorTxt {color: #F29200;}